<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
  <meta charset="utf-8" />

  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
<link rel="stylesheet" href="{% static '/css/styles/main.css' %}">
<link rel="stylesheet" href="{% static '/css/styles/main.css' %}">

  <meta
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    name="viewport"
  />

  <title>Anoint</title>

  <meta property="og:locale" content="en_US" />

  <meta
    name="description"/intro/static/images/favicon.png
    content="Portfolio website"
  />

<img src="{% static '/images/logo.svg' %}" alt="logo" />

  <meta name="twitter:site" content="whoami-anoint" />

  <link
    crossorigin="crossorigin"
    href="https://fonts.gstatic.com"
    rel="preconnect"
  />

  <link
    as="style"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="preload"
  />

  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet"
  />

  <link
    rel="stylesheet"
    href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
  />

  <link
    crossorigin="anonymous"
    href="{% static '/css/styles/main.css' %}"
    media="screen"
    rel="stylesheet"
  />

  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-dark.min.css"
  />

  <script>
    hljs.initHighlightingOnLoad();
  </script>

  <!--Alpine Js V3-->
  <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>


  <body
    x-data="global()"
    x-init="themeInit()"
    :class="isMobileMenuOpen ? 'max-h-screen overflow-hidden relative' : ''"
    class="dark:bg-primary"
  >
    
    <div id="main">
      <div class="container mx-auto">
  <div class="flex items-center justify-between py-6 lg:py-10">
    <a href="/" class="flex items-center">
      <span href="/" class="mr-2">
        <img src="{% static '/images/logo.svg' %}" alt="logo" />
      </span>
      <p class="hidden font-body text-2xl font-bold text-primary dark:text-white lg:block">
        Abishek Kafle
      </p>
    </a>
    <div class="flex items-center lg:hidden">
      <i
        class="bx mr-8 cursor-pointer text-3xl text-primary dark:text-white"
        @click="themeSwitch()"
        :class="isDarkMode ? 'bxs-sun' : 'bxs-moon'"
      ></i>

      <svg
        width="24"
        height="15"
        xmlns="http://www.w3.org/2000/svg"
        @click="isMobileMenuOpen = true"
        class="fill-current text-primary dark:text-white"
      >
        <g fill-rule="evenodd">
          <rect width="24" height="3" rx="1.5" />
          <rect x="8" y="6" width="16" height="3" rx="1.5" />
          <rect x="4" y="12" width="20" height="3" rx="1.5" />
        </g>
      </svg>
    </div>
    <div class="hidden lg:block">
      <ul class="flex items-center">
        
        <li class="group relative mr-6 mb-1">
          <div
            class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"
          ></div>
          <a
            href="/"
            class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary"
            >Intro</a
          >
        </li>
        
        <li class="group relative mr-6 mb-1">
          <div
            class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"
          ></div>
          <a
            href="portfolio/blogs/templates/blogs/blogs.html"
            class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary"
            >Blogs</a
          >
        </li>
        
        <li class="group relative mr-6 mb-1">
          <div
            class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"
          ></div>
          <a
            href="/poems.html"
            class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary"
            >Poems</a
          >
        </li>

        <li class="group relative mr-6 mb-1">
          <div
            class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"
          ></div>
          <a
            href="/projects.html"
            class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary"
            >Projects</a
          >
        </li>
        
        <li class="group relative mr-6 mb-1">
          <div
            class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"
          ></div>
          <a
            href="/contact.html"
            class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary"
            >Contact</a
          >
        </li>
        
        <li>
          <i
            class="bx cursor-pointer text-3xl text-primary dark:text-white"
            @click="themeSwitch()"
            :class="isDarkMode ? 'bxs-sun' : 'bxs-moon'"
          ></i>
        </li>
      </ul>
    </div>
  </div>
</div>

<div
  class="pointer-events-none fixed inset-0 z-50 flex bg-black bg-opacity-80 opacity-0 transition-opacity lg:hidden"
  :class="isMobileMenuOpen ? 'opacity-100 pointer-events-auto' : ''"
>
  <div class="ml-auto w-2/3 bg-green p-4 md:w-1/3">
    <i
      class="bx bx-x absolute top-0 right-0 mt-4 mr-4 text-4xl text-white"
      @click="isMobileMenuOpen = false"
    ></i>
    <ul class="mt-8 flex flex-col">
      
      <li class="">
        <a
          href="/"
          class="mb-3 block px-2 font-body text-lg font-medium text-white"
          >Intro</a
        >
      </li>
      
      <li class="">
        <a
          href="/blogs.html"
          class="mb-3 block px-2 font-body text-lg font-medium text-white"
          >Blogs</a
        >
      </li>
      
      <li class="">
        <a
          href="/poems.html"
          class="mb-3 block px-2 font-body text-lg font-medium text-white">
          Poems</a>
      </li>

      <li class="">
        <a
          href="/projects.html"
          class="mb-3 block px-2 font-body text-lg font-medium text-white">
          Projects</a>
      </li>
      
      <li class="">
        <a
          href="/contact"
          class="mb-3 block px-2 font-body text-lg font-medium text-white"
          >Contact</a
        >
      </li>
      
    </ul>
  </div>
</div>


      <div><div class="container mx-auto">
  <div class="border-b border-grey-lighter py-16 lg:py-20">
    
    <div class="rounded-full h-16 w-16 overflow-hidden">
      <img src="/assets/img/author.png" class="h-full w-full" alt="author" />
    </div>
    
    <h1
      class="pt-3 font-body text-4xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl"
    >
      Hi, I’m Abhishek Kafle.
    </h1>
    <p class="pt-3 font-body text-xl font-light text-primary dark:text-white">
      <a href="https://git.io/typing-svg">
      <img src="https://readme-typing-svg.demolab.com?font=Fira+Code&pause=1000&color=AEF742&background=FFC4CF00&width=435&lines=Infosec+Poet;DevOps+Engineer;Open+Source+Contributor;Developer;Learner" alt="Typing SVG" /></a>
    </p>
    <a href="" class="mt-12 block bg-secondary px-10 py-4 text-center font-body text-xl font-semibold text-white transition-colors
       hover:bg-green sm:inline-block sm:text-left sm:text-2xl" id="sayHelloButton">
  Say Hello!
</a>

<!-- <audio id="myVoice">
  <source src="tu.mp3" type="audio/mpeg">
</audio>

<script>
document.getElementById('sayHelloButton').addEventListener('click', function() {
  const audioElement = document.getElementById('myVoice');
  
  if (audioElement) {
    audioElement.play();
  } else {
    alert('Voice audio not found.');
  }
});
</script> -->

  </div>

  <div class="border-b border-grey-lighter py-16 lg:py-20">
    <div class="flex items-center pb-6">
      <img src="/assets/img/icon-story.png" alt="icon story" />
      <h3
        class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white">
       About Me
      </h3>
    </div>
    
    <div class="flex flex-wrap">
  <div class="w-full md:w-3/4">
    <ul class="ml-3 font-body text-xl md:text-2xl font-semibold text-primary dark:text-white">
      <li class="text-base md:text-sm text-gray-600 dark:text-gray-300">
        I'm a DevOps Engineer, always tinkering with tech. 🔧💻
      </li>
      <li class="text-base md:text-sm text-gray-600 dark:text-gray-300">
        On a mission to be a top-notch DevSecOps pro. 🚀🛡️
      </li>
      <li class="text-base md:text-sm text-gray-600 dark:text-gray-300">
        Loving all things cybersecurity and automation. 🔒🤖
      </li>
      <li class="text-base md:text-sm text-gray-600 dark:text-gray-300">
        Digging into coding, deployment, and making things work. 💻🚀
      </li>
      <li class="text-base md:text-sm text-gray-600 dark:text-gray-300">
        Up for exciting projects like hacking tests and tool-building. 🕵️‍♂️🔨
      </li>
      <li class="text-base md:text-sm text-gray-600 dark:text-gray-300">
        Even my free time is a playground for infosec and infotech. 🎮🌐
      </li>
      <li class="text-base md:text-sm text-gray-600 dark:text-gray-300">
        Proudly an Infosec Poet, crafting words in the digital realm. ✍️📚
      </li>
      <li class="text-base md:text-sm text-gray-600 dark:text-gray-300">
        Let's team up, learn, and create cool tech stuff together! 🚀🛡️👾
      </li>
    </ul>
  </div>
</div>

  <div class="py-16 lg:py-20">
    <div class="flex items-center pb-6">
      <img src="/assets/img/icon-blog.png" alt="icon story" />
      <h3
        class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white"
      >
        My Blogs 
      </h3>
      <a
        href="/blogs.html"
        class="flex items-center pl-10 font-body italic text-green transition-colors hover:text-secondary dark:text-green-light dark:hover:text-secondary"
      >
        All posts
        <img
          src="/assets/img/long-arrow-right.png"
          class="ml-3"
          alt="arrow right"
        />
      </a>
    </div>
    <div class="pt-8">
      <div class="border-b border-grey-lighter pb-8">
        <span
          class="mb-4 inline-block rounded-full bg-green-light px-2 py-1 font-body text-sm text-green"
          >JavaScript</span
        >
        <a
          href="https://anoint.medium.com/why-shouldnt-we-use-var-in-javascript-e32788c258ed"
          class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary"
          >Why Shouldn’t We Use Var in JavaScript?</a
        >
        <div class="flex items-center pt-4">
          <p class="pr-2 font-body font-light text-primary dark:text-white">
            June 22, 2023
          </p>
          <span class="font-body text-grey dark:text-white">//</span>
          <p class="pl-2 font-body font-light text-primary dark:text-white">
            3 min read
          </p>
        </div>
      </div>
      <div class="border-b border-grey-lighter pt-10 pb-8">
        <div class="flex items-center">
          <span
            class="mb-4 inline-block rounded-full bg-grey-light px-2 py-1 font-body text-sm text-blue-dark"
            >Git</span
          >
          <span
            class="mb-4 ml-4 inline-block rounded-full bg-yellow-light px-2 py-1 font-body text-sm text-yellow-dark"
            >Github</span
          >
        </div>
        <a
          href="https://anoint.medium.com/github-and-git-a-beginners-guide-4948427898b0"
          class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary"
          >Github and Git: A Beginner’s Guide</a
        >
        <div class="flex items-center pt-4">
          <p class="pr-2 font-body font-light text-primary dark:text-white">
            Feb 26, 2023
          </p>
          <span class="font-body text-grey dark:text-white">//</span>
          <p class="pl-2 font-body font-light text-primary dark:text-white">
            3 min read
          </p>
        </div>
      </div>
      <div class="border-b border-grey-lighter pt-10 pb-8">
        <span
          class="mb-4 inline-block rounded-full bg-blue-light px-2 py-1 font-body text-sm text-blue"
          >Cold Boot Attack</span
        >
        <a
          href="https://medium.com/p/b1da0e4f8241"
          class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary"
          >Cold Boot Attack</a
        >
        <div class="flex items-center pt-4">
          <p class="pr-2 font-body font-light text-primary dark:text-white">
            Mar 19, 2023
          </p>
          <span class="font-body text-grey dark:text-white">//</span>
          <p class="pl-2 font-body font-light text-primary dark:text-white">
            3 min read
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="pb-16 lg:pb-20">
    <div class="flex items-center pb-6">
      <img src="/assets/img/icon-project.png" alt="icon story" />
      <h3
        class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white"
      >
        My Projects
      </h3>
    </div>
    <div>
      
      <a
        href=" https://github.com/whoami-anoint/Probe "
        class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
      >
        <span class="w-9/10 pr-8">
          <h4
            class="font-body text-lg font-semibold text-primary dark:text-white"
          >
            Probe
          </h4>
          <p class="font-body font-light text-primary dark:text-white">
           Smooth automated reconnaissance tool
          </p>
        </span>
        <span class="w-1/10">
          <img src="/assets/img/chevron-right.png" class="mx-auto" alt="chevron right" />
        </span>
      </a>
      
      <a
        href="https://whoami-anoint.github.io/BMI-Calculator/"
        class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
      >
        <span class="w-9/10 pr-8">
          <h4
            class="font-body text-lg font-semibold text-primary dark:text-white"
          >
          BMI-Calculator 
          </h4>
          <p class="font-body font-light text-primary dark:text-white">
            Calculate your BMI easily and empower your health today!
          </p>
        </span>
        <span class="w-1/10">
          <img src="/assets/img/chevron-right.png" class="mx-auto" alt="chevron right" />
        </span>
      </a>
      
      <a
        href="https://github.com/whoami-anoint/PassCheckR"
        class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
      >
        <span class="w-9/10 pr-8">
          <h4
            class="font-body text-lg font-semibold text-primary dark:text-white"
          >
          PassCheckR 
          </h4>
          <p class="font-body font-light text-primary dark:text-white">
            Password Analysis using R programming language
          </p>
        </span>
        <span class="w-1/10">
          <img src="/assets/img/chevron-right.png" class="mx-auto" alt="chevron right" />
        </span>
      </a>
      
      <a
        href="https://github.com/whoami-anoint/TeleLoveBot"
        class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
      >
        <span class="w-9/10 pr-8">
          <h4
            class="font-body text-lg font-semibold text-primary dark:text-white"
          >
          TeleLoveBot
          </h4>
          <p class="font-body font-light text-primary dark:text-white">
            Telegram bot that sends random love quotes
          </p>
        </span>
        <span class="w-1/10">
          <img src="/assets/img/chevron-right.png" class="mx-auto" alt="chevron right" />
        </span>
      </a>
      
    </div>
  </div>
</div>
</div>

      <div class="container mx-auto">
  <div
    class="flex flex-col items-center justify-between border-t border-grey-lighter py-10 sm:flex-row sm:py-12"
  >
    <div class="mr-auto flex flex-col items-center sm:flex-row">
      <a href="/" class="mr-auto sm:mr-6">
        <img src="/assets/img/logo.svg" alt="logo" />
      </a>
      <p class="pt-5 font-body font-light text-primary dark:text-white sm:pt-0">
        ©2023 Abishek Kafle
      </p>
    </div>
    <div class="mr-auto flex items-center pt-5 sm:mr-0 sm:pt-0">
      
      <a href="https://github.com/whoami-anoint " target="_blank">
        <i
          class="text-4xl text-primary dark:text-white pl-5 hover:text-secondary dark:hover:text-secondary transition-colors bx bxl-github"
        ></i>
      </a>
      
      <a href="https://anoint.medium.com/">
        <i
          class="text-4xl text-primary dark:text-white pl-5 hover:text-secondary dark:hover:text-secondary transition-colors bx bxl-medium"
        ></i>
      </a>
      
      <a href="https://www.youtube.com/@alphageek_ ">
        <i
          class="text-4xl text-primary dark:text-white pl-5 hover:text-secondary dark:hover:text-secondary transition-colors bx bxl-youtube"
        ></i>
      </a>
      
      <a href="https://www.linkedin.com/in/whoami-anoint/ " target="_blank">
        <i
          class="text-4xl text-primary dark:text-white pl-5 hover:text-secondary dark:hover:text-secondary transition-colors bx bxl-linkedin"
        ></i>
      </a>
      
    </div>
  </div>
</div>

    </div>


<script src="{% static 'js/main.js' %}"></script>


    
  </body>
</html>